extends layout

block content
    .inner
         form.form(action="/register" method="POST")
             h2 Register
             label(for="name") Name
             input(type="text" name="name" required )
             label(for="email") Email
             input(type="email" name="email" required )
             label(for="password") Password
             input(type="password" name="password")
             label(for="password-confirm") Confirm Password
             input(type="password" name="password-confirm")
             label(for="amount") How much money would you like deposit to start your account
             input(type="number", name="amount" required )
             label(for="pin") Enter a 4-digit PIN number
             input(type="password" name="pin")
             input.button(type="submit" value= "Register")